# Dependencies
node_modules/

# Environment variables


# Images
public/images/products/*
!public/images/products/.gitkeep
# Uploads
uploads/orders/*
uploads/imports/*
!uploads/imports/.gitkeep
!uploads/orders/.gitkeep
